<h1> Countries of the world </h1>

<%= form_tag countries_path do %>
  <%= label_tag(:country, "Search countries:") %>
  <%= text_field_tag(:country, params[:country]) %>
  <%= submit_tag("Search") %>
<% end %>

<ul class="list-group">
    <% @countries.each do |country| %>
        <li class="list-group-item">
            <%= link_to "#{country.name}", country_path(country.code) %>
        </li>
    <% end %>
</ul>